ProyectoWheel/CapaGUI/Connected Services/ServiceConductor/WebServiceMantenedorConductor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertarConductorService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="conductor" type="tns:Conductor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Conductor">
        <s:complexContent mixed="false">
          <s:extension base="tns:IPersistentBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Rut" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Apellido_paterno" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Apellido_materno" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Telefono" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="IPersistentBase" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="_isDeleted" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="_isNew" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="_isModified" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="_isBlocked" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_timeStamp" />
          <s:element minOccurs="1" maxOccurs="1" name="_isActive" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="_creationDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDeleted" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsNew" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IsBlocked" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeStamp" />
          <s:element minOccurs="1" maxOccurs="1" name="CreationDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Tag" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
        </s:sequence>
        <s:attribute default="false" name="IsModified" type="s:boolean" />
      </s:complexType>
      <s:complexType name="ResponseTransaction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertarConductorServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertarConductorServiceResult" type="tns:ResponseTransaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminiarConductorService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminiarConductorServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eliminiarConductorServiceResult" type="tns:ResponseTransaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarConductorService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="conductor" type="tns:Conductor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarConductorServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="buscarConductorService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarConductorServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarConductorServiceResult" type="tns:Conductor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="retornaConductorService">
        <s:complexType />
      </s:element>
      <s:element name="retornaConductorServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retornaConductorServiceResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertarConductorServiceSoapIn">
    <wsdl:part name="parameters" element="tns:insertarConductorService" />
  </wsdl:message>
  <wsdl:message name="insertarConductorServiceSoapOut">
    <wsdl:part name="parameters" element="tns:insertarConductorServiceResponse" />
  </wsdl:message>
  <wsdl:message name="eliminiarConductorServiceSoapIn">
    <wsdl:part name="parameters" element="tns:eliminiarConductorService" />
  </wsdl:message>
  <wsdl:message name="eliminiarConductorServiceSoapOut">
    <wsdl:part name="parameters" element="tns:eliminiarConductorServiceResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarConductorServiceSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarConductorService" />
  </wsdl:message>
  <wsdl:message name="actualizarConductorServiceSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarConductorServiceResponse" />
  </wsdl:message>
  <wsdl:message name="buscarConductorServiceSoapIn">
    <wsdl:part name="parameters" element="tns:buscarConductorService" />
  </wsdl:message>
  <wsdl:message name="buscarConductorServiceSoapOut">
    <wsdl:part name="parameters" element="tns:buscarConductorServiceResponse" />
  </wsdl:message>
  <wsdl:message name="retornaConductorServiceSoapIn">
    <wsdl:part name="parameters" element="tns:retornaConductorService" />
  </wsdl:message>
  <wsdl:message name="retornaConductorServiceSoapOut">
    <wsdl:part name="parameters" element="tns:retornaConductorServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceMantenedorConductorSoap">
    <wsdl:operation name="insertarConductorService">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">insertar un conductor</wsdl:documentation>
      <wsdl:input message="tns:insertarConductorServiceSoapIn" />
      <wsdl:output message="tns:insertarConductorServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminiarConductorService">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">eliminar los datos del conductor</wsdl:documentation>
      <wsdl:input message="tns:eliminiarConductorServiceSoapIn" />
      <wsdl:output message="tns:eliminiarConductorServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarConductorService">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualiza los datos del conductor</wsdl:documentation>
      <wsdl:input message="tns:actualizarConductorServiceSoapIn" />
      <wsdl:output message="tns:actualizarConductorServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarConductorService">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">buscar un conductor</wsdl:documentation>
      <wsdl:input message="tns:buscarConductorServiceSoapIn" />
      <wsdl:output message="tns:buscarConductorServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="retornaConductorService">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna un conductor</wsdl:documentation>
      <wsdl:input message="tns:retornaConductorServiceSoapIn" />
      <wsdl:output message="tns:retornaConductorServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceMantenedorConductorSoap" type="tns:WebServiceMantenedorConductorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarConductorService">
      <soap:operation soapAction="http://tempuri.org/insertarConductorService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminiarConductorService">
      <soap:operation soapAction="http://tempuri.org/eliminiarConductorService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarConductorService">
      <soap:operation soapAction="http://tempuri.org/actualizarConductorService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarConductorService">
      <soap:operation soapAction="http://tempuri.org/buscarConductorService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornaConductorService">
      <soap:operation soapAction="http://tempuri.org/retornaConductorService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceMantenedorConductorSoap12" type="tns:WebServiceMantenedorConductorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarConductorService">
      <soap12:operation soapAction="http://tempuri.org/insertarConductorService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminiarConductorService">
      <soap12:operation soapAction="http://tempuri.org/eliminiarConductorService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarConductorService">
      <soap12:operation soapAction="http://tempuri.org/actualizarConductorService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarConductorService">
      <soap12:operation soapAction="http://tempuri.org/buscarConductorService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornaConductorService">
      <soap12:operation soapAction="http://tempuri.org/retornaConductorService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceMantenedorConductor">
    <wsdl:port name="WebServiceMantenedorConductorSoap" binding="tns:WebServiceMantenedorConductorSoap">
      <soap:address location="http://localhost:2257/WebServiceMantenedorConductor.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceMantenedorConductorSoap12" binding="tns:WebServiceMantenedorConductorSoap12">
      <soap12:address location="http://localhost:2257/WebServiceMantenedorConductor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>